#regForm{
	width:30%;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	text-align:center;
	font-family:Arial, sans-serif;
}

#usernameID, #passwordID, #emailID {
	margin-left: auto;
	margin-right:auto;
	width:70%;
	display:block;
}

label{
	margin-top:10px;
}

header{
	text-align:center;
	font-size:30px;
	margin-top:10px;
}

legend{
	font-weight: bold;
}

#registerBtn{
	width:120px;
	font-family:Arial, sans-serif;
	padding:5px;
	border-radius:5px;
}

